## Day 2 (26/Oct/2021)
Tuesday

## Taking input from user and TypeCasting
Write program to add two integers given by the user

In [ ]:
## shortcut for comment/ uncomment -> ctrl+/

In [10]:
a = int(input("Enter first integer: "))
b = int(input("Enter second integer: "))
# a = int(a)
# b = int(b)
print("The sum of a and b is", a+b)

Enter first integer: 4
Enter second integer: 6
The sum of a and b is 10

In [2]:
type(a)

str

In [3]:
type(b)

str

In [4]:
s1 = "435"
s2 = "78"
s1+s2

'43578'

In [9]:
print(a, b)
int(a)

4 7

4

In [11]:
c = 67
print(c, type(c))
c = str(c)
print(c, type(c))

67 <class 'int'>
67 <class 'str'>

In [12]:
# float(), bool()

## String Formatting
- Concatenate using +
- .format()
- %()
- f strings

In [13]:
# Expected output: "My name is Princey. I graduated in 2020. I work at Coding Blocks"

In [14]:
name = "Princey"
year = 2020
company = "Coding Blocks"

In [16]:
s = "My name is "+name+". I graduated in "+str(year)+". I work at "+company
print(s)

My name is Princey. I graduated in 2020. I work at Coding Blocks

In [17]:
s = "My name is {}. I graduated in {}. I work at {}".format(name, year, company)
print(s)

My name is Princey. I graduated in 2020. I work at Coding Blocks

In [18]:
s = "My name is {0}. I graduated in {1}. I work at {2}".format(name, year, company)
print(s)

My name is Princey. I graduated in 2020. I work at Coding Blocks

In [21]:
s = "My name is {a}. I graduated in {b}. I work at {c}".format(b=year, a=name, c=company)
print(s)

My name is Princey. I graduated in 2020. I work at Coding Blocks

In [22]:
s = "My name is {name}. I graduated in {year}. I work at {company}".format(year=year, name=name, company=company)
print(s)

My name is Princey. I graduated in 2020. I work at Coding Blocks

### f-strings

In [25]:
name = "Ashish"
s1 = f"My name is {name}. I graduated in {year}. I work at {company}" # f-strings
print(s1)

My name is Ashish. I graduated in 2020. I work at Coding Blocks

In [26]:
s2 = "My name is %s. I graduated in %d. I work at %s"%(name, year, company)
print(s2)

My name is Ashish. I graduated in 2020. I work at Coding Blocks

In [15]:
a = "hello"
b = 67
a+b

TypeError: can only concatenate str (not "int") to str

## Comparison Operators
```
>= <= > < == !=
```

In [32]:
a=4
b = 6
print(a<=b)

True

In [33]:
print(a==b)

False

In [34]:
print(a!=b)

True

## Logical Operators
- and
- or
- not

In [38]:
x = 60
print(x>0 and x<50)
print(x>0 or x<50 or x==50)
print(not(x==50))

False
True
True

## Condiditional Statements
if  
else  
elif

In [42]:
age = 30
if age<=18:
    print("You can vote")
        print("This is inside if block")
else:
    print("Can't vote")
    print("This is inside else block")
print("This is outside any block")

IndentationError: unexpected indent (<ipython-input-42-03dd5f3d2d35>, line 4)

In [46]:
age = 30
if age<=18:
        print("You can vote")
    print("This is inside if block")
else:
    print("Can't vote")
    print("This is inside else block")
print("This is outside any block")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [52]:
age = 17
if age<18:
    print("Can't vote")
elif age==18:
    print("Yayy!! ypur first voting")
else:
    print("Can vote")

Can't vote

In [50]:
x = 0
if x>0:
    print("positive")
elif x == 0:
    print("zero")
else:
    print("Negative")

zero

## Loops
- while
- for
- range()

In [54]:
## print numbers 1 to 10
i = 1
while i<=10:
    print(i,  end=" ")
    i += 1 # eqt to i=i+1

1 2 3 4 5 6 7 8 9 10

In [58]:
for i in range(11, 2):
    print(i, end=" ")

In [68]:
for i in range(1,11):
    print(i, end=" ")
    i += 2
    print(i)

1 3
2 4
3 5
4 6
5 7
6 8
7 9
8 10
9 11
10 12

In [69]:
# print numbers from 10 to 1
for i in range(10, 0, -1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

## Questions:

### 1. Pattern 1
For given input N, draw the following pattern:
N=5
```
*
**
***
****
*****
```

In [71]:
n = 8
for i in range(1,n+1): # i-> 0 to n
    # print stars
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
******
*******
********

### 2. Pattern 2
```
    *
   **
  ***
 ****
*****
```

In [76]:
n = 10
for i in range(1,n+1):
    # print spaces
    for j in range(n-i):
        print(" ", end="")
    # print stars
    for j in range(i):
        print("*", end="")
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

### 3. Pattern 3: Number Pyramid
```
   1
  232
 34543
4567654
```

In [79]:
n = 5
for i in range(1,n+1):
    # print spaces
    for j in range(n-i):
        print(" ", end="")
        
    # print num in increasing order
    num = i
    for j in range(i):
        print(num, end="")
        num += 1
    num = num-2
    
    # print num in decreasing order
    for j in range(i-1):
        print(num, end="")
        num -= 1
        
    print()

    1
   232
  34543
 4567654
567898765

### 4. Find the min and max of n integers input by the user

### 5. Given a number n, check if it's prime or not

### 6. Find the sum of odd and even digits of a number

### 7. Check if a given integer is palindrome or not. Constraint N > 0.

### 8. Print the below pattern: Satiya