## Day 2 (26/Oct/2021)
Tuesday

## Taking input from user and TypeCasting
Write program to add two integers given by the user

In [ ]:
## shortcut for comment/ uncomment -> ctrl+/

In [10]:
a = int(input("Enter first integer: "))
b = int(input("Enter second integer: "))
# a = int(a)
# b = int(b)
print("The sum of a and b is", a+b)

Enter first integer: 4
Enter second integer: 6
The sum of a and b is 10

In [2]:
type(a)

str

In [3]:
type(b)

str

In [4]:
s1 = "435"
s2 = "78"
s1+s2

'43578'

In [9]:
print(a, b)
int(a)

4 7

4

In [11]:
c = 67
print(c, type(c))
c = str(c)
print(c, type(c))

67 <class 'int'>
67 <class 'str'>

In [12]:
# float(), bool()

## String Formatting
- Concatenate using +
- .format()
- %()
- f strings

In [13]:
# Expected output: "My name is Princey. I graduated in 2020. I work at Coding Blocks"

In [14]:
name = "Princey"
year = 2020
company = "Coding Blocks"

In [16]:
s = "My name is "+name+". I graduated in "+str(year)+". I work at "+company
print(s)

My name is Princey. I graduated in 2020. I work at Coding Blocks

In [17]:
s = "My name is {}. I graduated in {}. I work at {}".format(name, year, company)
print(s)

My name is Princey. I graduated in 2020. I work at Coding Blocks

In [18]:
s = "My name is {0}. I graduated in {1}. I work at {2}".format(name, year, company)
print(s)

My name is Princey. I graduated in 2020. I work at Coding Blocks

In [21]:
s = "My name is {a}. I graduated in {b}. I work at {c}".format(b=year, a=name, c=company)
print(s)

My name is Princey. I graduated in 2020. I work at Coding Blocks

In [22]:
s = "My name is {name}. I graduated in {year}. I work at {company}".format(year=year, name=name, company=company)
print(s)

My name is Princey. I graduated in 2020. I work at Coding Blocks

### f-strings

In [25]:
name = "Ashish"
s1 = f"My name is {name}. I graduated in {year}. I work at {company}" # f-strings
print(s1)

My name is Ashish. I graduated in 2020. I work at Coding Blocks

In [26]:
s2 = "My name is %s. I graduated in %d. I work at %s"%(name, year, company)
print(s2)

My name is Ashish. I graduated in 2020. I work at Coding Blocks

In [15]:
a = "hello"
b = 67
a+b

TypeError: can only concatenate str (not "int") to str

## Comparison Operators
```
>= <= > < == !=
```

In [32]:
a=4
b = 6
print(a<=b)

True

In [33]:
print(a==b)

False

In [34]:
print(a!=b)

True

## Logical Operators
- and
- or
- not

In [38]:
x = 60
print(x>0 and x<50)
print(x>0 or x<50 or x==50)
print(not(x==50))

False
True
True

## Condiditional Statements
if  
else  
elif

In [42]:
age = 30
if age<=18:
    print("You can vote")
        print("This is inside if block")
else:
    print("Can't vote")
    print("This is inside else block")
print("This is outside any block")

IndentationError: unexpected indent (<ipython-input-42-03dd5f3d2d35>, line 4)

In [46]:
age = 30
if age<=18:
        print("You can vote")
    print("This is inside if block")
else:
    print("Can't vote")
    print("This is inside else block")
print("This is outside any block")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [52]:
age = 17
if age<18:
    print("Can't vote")
elif age==18:
    print("Yayy!! ypur first voting")
else:
    print("Can vote")

Can't vote

In [50]:
x = 0
if x>0:
    print("positive")
elif x == 0:
    print("zero")
else:
    print("Negative")

zero

## Loops
- while
- for
- range()

In [54]:
## print numbers 1 to 10
i = 1
while i<=10:
    print(i,  end=" ")
    i += 1 # eqt to i=i+1

1 2 3 4 5 6 7 8 9 10

In [58]:
for i in range(11, 2):
    print(i, end=" ")

In [68]:
for i in range(1,11):
    print(i, end=" ")
    i += 2
    print(i)

1 3
2 4
3 5
4 6
5 7
6 8
7 9
8 10
9 11
10 12

In [69]:
# print numbers from 10 to 1
for i in range(10, 0, -1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

## Questions:

### 1. Pattern 1
For given input N, draw the following pattern:
N=5
```
*
**
***
****
*****
```

In [71]:
n = 8
for i in range(1,n+1): # i-> 0 to n
    # print stars
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
******
*******
********

### 2. Pattern 2
```
    *
   **
  ***
 ****
*****
```

In [76]:
n = 10
for i in range(1,n+1):
    # print spaces
    for j in range(n-i):
        print(" ", end="")
    # print stars
    for j in range(i):
        print("*", end="")
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

### 3. Pattern 3: Number Pyramid
```
   1
  232
 34543
4567654
```

In [79]:
n = 5
for i in range(1,n+1):
    # print spaces
    for j in range(n-i):
        print(" ", end="")
        
    # print num in increasing order
    num = i
    for j in range(i):
        print(num, end="")
        num += 1
    num = num-2
    
    # print num in decreasing order
    for j in range(i-1):
        print(num, end="")
        num -= 1
        
    print()

    1
   232
  34543
 4567654
567898765

## Day 3 (28/Oct/2021)
Thursday

### 4. Find the min and max of n integers input by the user

In [5]:
import math

N = 7
min_ = math.inf
max_ = -math.inf

for i in range(N):
    num = int(input())
    if num < min_:
        min_ = num
    if num > max_:
        max_ = num
    print(f"{i}th iteration: min: {min_} max: {max_}")
print(min_, max_)

5
0th iteration: min: 5 max: 5
3
1th iteration: min: 3 max: 5
6
2th iteration: min: 3 max: 6
5
3th iteration: min: 3 max: 6
-3
4th iteration: min: -3 max: 6
100
5th iteration: min: -3 max: 100
-2345
6th iteration: min: -2345 max: 100
-2345 100

### 5. Given a number n, check if it's prime or not

In [23]:
n = int(input())

if n==1:
    print("Not prime")
if n==2:
    print("prime")
for i in range(2, n):
    if n%i == 0:
        print("Not prime")
        break
if i+1==n:
    print(i,"Prime")

57
Not prime

In [37]:
int(1e9+7) # 10**9 + 7 # prime

1000000007

In [35]:
n = int(input())
flag = False
for i in range(2,int(math.sqrt(n))+1):
    if n%i == 0:
        flag = True
        break
if flag:
    print("Not prime")
else:
    print("Prime")

1000000007
Prime

In [28]:
int(math.sqrt(10))

3

### 6. Find the sum of odd and even digits of a number

In [39]:
n = 9874632

even_sum = 0
odd_sum =  0
while n>0:
    rem = n%10 # last digit of the number
    if rem%2 == 0:
        even_sum += rem
    else:
        odd_sum += rem
    print(f"number: {n} last digit: {rem} even sum: {even_sum}, odd sum: {odd_sum}")    
    # update the num
    n = n//10
    
print(f"even sum: {even_sum}, odd sum: {odd_sum}")

number: 9874632 last digit: 2 even sum: 2, odd sum: 0
number: 987463 last digit: 3 even sum: 2, odd sum: 3
number: 98746 last digit: 6 even sum: 8, odd sum: 3
number: 9874 last digit: 4 even sum: 12, odd sum: 3
number: 987 last digit: 7 even sum: 12, odd sum: 10
number: 98 last digit: 8 even sum: 20, odd sum: 10
number: 9 last digit: 9 even sum: 20, odd sum: 19
even sum: 20, odd sum: 19

### 6.5 Find the sum of all digits of given number
Example,   
n = 378  
output: 3+7+8 = 18  
  
n = 673927  
output = 6+7+3+9+2+7 = 34

### 7. Reverse a given number
n = 1234  
output: 4321

In [44]:

n = 1234

ans = 0
while n>0:
    last_digit = n%10
    
    print(f"n: {n}, last digit: {last_digit}, ans = {ans} * {10} + {last_digit} = {ans*10 + last_digit}")
    ans = ans*10 + last_digit
    n = n//10 # update the number n
print(ans)

n: 1234, last digit: 4, ans = 0 * 10 + 4 = 4
n: 123, last digit: 3, ans = 4 * 10 + 3 = 43
n: 12, last digit: 2, ans = 43 * 10 + 2 = 432
n: 1, last digit: 1, ans = 432 * 10 + 1 = 4321
4321

### 8. Check if a given integer is palindrome or not. Constraint N > 0.

In [5]:
n = 12325


a = n # save the number in a variable
# count the digits
count = 0
while a>0:
    count += 1
    a //= 10
print("Count of digits:", count)

a = n
# reverse the number
rev = 0
for i in range(count//2):
    last_digit = n%10
    rev = rev*10 + last_digit
    n //= 10 # n = n//10
if count%2==1:
    n //= 10
if n==rev:
    print(a, "is Palindrome")
else:
    print(a, "is not Palindrome")

Count of digits: 5
12325 is not Palindrome

### 9. Print the below pattern: Satiya 

N = 7
```
*     * * * * 
*     *
*     *
* * * * * * *
      *     * 
      *     *
* * * *     *      
```

In [2]:
n=int(input())
for i in range(n):
    for j in range(n):
        # update the conditions for swastik pattern 
        if i==n//2 or j==n//2 or (j==0 and i<n//2) or (i==0 and j>n//2) or (i==n-1 and j<n//2) or(j==n-1 and i>n//2):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

7
*     * * * *
*     *
*     *
* * * * * * *
      *     *
      *     *
* * * *     *