## Day 06 
8-Nov-2021 Monday
### Tuples

In [6]:
t = (1, 3, 2, 7)
print(type(t))

<class 'tuple'>

In [7]:
len(t)

4

In [8]:
# cannot modify some element: immutable 
t[3] = 100

TypeError: 'tuple' object does not support item assignment

In [12]:
t2 = t + (1,2)
print(t2, t)

(1, 3, 2, 7, 1, 2) (1, 3, 2, 7)

In [13]:
t = [1, 2, 3]
type(t)

list

In [16]:
t = (1, 3, 2, 5, 7, 8)
print(t[-1])

8

In [ ]:
dim = (400,400)

In [17]:
t3 = 100, 200, 300 # comma separated values # packing
type(t3)

tuple

In [20]:
t4 = 100, #  tuple with single element
type(t4)

tuple

In [21]:
a, b, c = t3 # unpacking
print(a, b, c)

100 200 300

In [24]:
t3 = 100, 100, 200, 300
print(t3)

(100, 100, 200, 300)

In [26]:
t3.count(100)

2

In [27]:
t3.index(200)

2

### Strings

In [28]:
s = "abcd"
type(s)

str

In [29]:
s = 'abcd'
type(s)

str

In [30]:
s2 = """
hi
123
multiline string
"""
print(s2)

hi
123
multiline string

In [33]:
# slicing operation
s = "Hi how are you? Have a goood day."
s[0::2]

'H o r o?Hv  oo a.'

In [101]:
# dir(s)

In [35]:
files = ["file1.txt", "file2.txt", "file3.pdf", "file4.txt"]
files_of_use = []
for file in files:
    if file.endswith(".txt"):
        files_of_use.append(file)
print(files_of_use)

['file1.txt', 'file2.txt', 'file4.txt']

In [36]:
s = "hello"
s.capitalize()

'Hello'

In [42]:
first = input("Enter your first name: ")
if not(first.isalpha()):
    print("First name cannot have numeric value")
else:
    print(first)

Enter your first name: 123hi
First name cannot have numeric value

In [ ]:
first = input("Enter your first name: ")
if not(first.isalpha()):
    print("First name cannot have numeric value")
else:
    print(first)

In [47]:
first = input("Enter your first name: ")
first.islower()

Enter your first name: Princey

False

In [46]:
print("hi@".isidentifier())

False

In [49]:
first.istitle?

In [56]:
s = "HELLO"
s.isupper()

True

In [60]:
l = ["This", "is", "a", "string"]
" ".join(l)

'This, is, a, string'

In [65]:
first = input("Enter your first name: ")
first = first.strip()
print(first)

Enter your first name:     princey
princey

In [70]:
a = input("Enter the array elements: ")
print(a, type(a))
print(a.split(","))

Enter the array elements: 10,20,30,40
10,20,30,40 <class 'str'>
['10', '20', '30', '40']

In [75]:
lines = "Hi how are you\n Hello \nline3"
lines.splitlines()

['Hi how are you', ' Hello ', 'line3']

In [98]:
s = "abcd"
for el in s:
    print(el, end=" ")

a b c d

In [100]:
s = "abcdefgh"
for i in range(len(s)):
    print(s[i], end=" ")

a b c d e f g h

In [99]:
list(s) # convert string into list

['a', 'b', 'c', 'd']

### List Comprehension

In [76]:
## create a list which has squares
num = 5
ans = []
for i in range(1,num+1):
    ans.append(i**2)
print(ans)

[1, 4, 9, 16, 25]

In [77]:
squares = [i**2 for i in range(1,num+1)]
print(squares)

[1, 4, 9, 16, 25]

In [78]:
## create a list of multiples of 13: 13, 26, ..., 130
multiples = [x*13 for x in range(1,11)]
print(multiples)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130]

#### List comprehension with if clause

In [79]:
num = 20
ans = []
for i in range(1, num+1):
    if i%2==0:
        ans.append(i)
print(ans)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [80]:
even = [i for i in range(1,num+1) if i%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [81]:
age = 13
if age>=18:
    isvote = True
else:
    isvote = False
print(isvote)

False

In [83]:
vote = True if age>=18 else False
print(vote)

Hi

#### 2d list comprehension

In [85]:
## [0,0,0]
zeros = [[0 for i in range(3)] for j in range(4)]
print(zeros)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [87]:
ans = []
for i in range(1,4):
    l = [(i,j) for j in range(1,4)]
    ans.append(l)
print(ans)

[[(1, 1), (1, 2), (1, 3)], [(2, 1), (2, 2), (2, 3)], [(3, 1), (3, 2), (3, 3)]]

In [86]:
mylist = [[(i,j) for j in range(1,4)] for i in range(1,4)]
print(mylist)

[[(1, 1), (1, 2), (1, 3)], [(2, 1), (2, 2), (2, 3)], [(3, 1), (3, 2), (3, 3)]]

In [89]:
# "10 20 30 40 50 60" -> [10, 20, 30, 40, 50, 60]
a = "10 20 30 40 50 60" 
a.split()

['10', '20', '30', '40', '50', '60']

In [94]:
l = input("Enter array elements").split()
print(l)
arr = []
for el in l:
    arr.append(int(el))
print(arr)

Enter array elements10 20 30 40
['10', '20', '30', '40']
[10, 20, 30, 40]

In [96]:
a = [int(el) for el in input().split()]
print(a)

10 20 30 40
[10, 20, 30, 40]