## Keyboard Shortcuts
- insert new cell above: esc + a
- insert new cell below: esc + b
- delete a cell : esc + dd
- convert into markdown cell: esc + m
- convert markdown into code cell : esc + y
- run a cell - shift+enter / ctrl+enter

In [12]:
print("hello world")

hello world

In [ ]:
## Algorithm

### Heading 3
#### Heading 4
###### Heading 6

**Text in bold**

__text in bold__

_text in italics_

## Numbered List
1. A
2. B
3. C

## Bulleted List
- A
- B
- C

**To break a line use double spaces, or break tag <br>**
Normal text line 1  
line number 2
<br>
line number 3